
table {
  width: 25%;
  border-collapse: collapse;
  margin-top: 20px;
}



tbody {
  height: 250px; 
  overflow-y: auto;
  display: block; 
  
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
    text-align: left;
  background-color: aqua;
  margin-left: 50px;
}

.labels {
  font-weight: bold;
}


.data{
    font-size: smaller;
    width: 100%;
}

