@media (max-width: 400px) {
    .chartSize {
        width: 150px;
    }
}

@media (min-width: 401px) and (max-width: 1200px) {
    .chartSize {
        width: 400px;
    }
}

@media (min-width: 1201px) {
    .chartSize {
        width: 600px;
    }
}