table {
  display: grid;
  margin: 3px 0;
  font-size: 1em;
  background-color: white;
  width: 100%;
}

tbody {
  overflow-y: scroll;
  max-height: 180px;
  scrollbar-color: #b9d9eb #f0f8ff;
}

tbody::-webkit-scrollbar {
  width: 12px;
}

tbody::-webkit-scrollbar-thumb {
  background-color: #b9d9eb;
}

tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

tbody tr {
  border-bottom: 1px solid gray;
}

thead tr {
  color: azure;
  text-align: left;
  font-weight: bold;
}

thead {
  background-color: #034694;
  width: 100%;
}

th {
  padding: 12px 15px;
}

.headrow {
  width: 80px;
}

.headrowStocks {
  padding-right: 20px;
}

td {
  padding: 8px;
}

td.positive {
  color: green;
}

td.negative {
  color: #cc0000;
}

tr {
  margin-bottom: 10px;
}

button {
  display: inline-block;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #012366;
  color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  table {
    display: grid;
    margin: 3px 0;
    font-size: 0.9em;
    background-color: white;
    max-width: 300px;
  }

  #bondTbody {
    background-color: white;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #tdEx {
    padding-right: 40px;
  }

  #thEx {
    padding-right: 80px;
  }

  #tdTg {
    padding-right: 50px;
  }

  #thTg {
    padding-right: 50px;
  }

  #tdCm {
    padding-right: 30px;
  }

  #thCm {
    padding-right: 35px;
  }

  #tdBnd {
    padding-right: 35px;
  }

  #thBnd {
    padding-right: 39px;
  }
}

@media (min-width: 1200px) {
  table {
    display: grid;
    margin: 3px 0;
    font-size: 0.9em;
    background-color: white;
  }

  #tdTg {
    padding-right: 30px;
  }

  #thTg {
    padding-right: 40px;
  }

  #tdEx {
    padding-right: 30px;
  }

  #thEx {
    padding-right: 70px;
  }

  #tdCm {
    padding-right: 7px;
  }

  #thCm {
    padding-right: 10px;
  }

  #tdBnd {
    padding-right: 10px;
  }

  #thBnd {
    padding-right: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  table {
    display: grid;
    margin: 3px 0;
    font-size: 0.9em;
    background-color: white;
  }

  #tdTg {
    padding-right: 50px;
  }

  #thTg {
    padding-right: 50px;
  }

  #tdEx {
    padding-right: 30px;
  }
  #thEx {
    padding-right: 70px;
  }
  #tdCm {
    padding-right: 7px;
  }

  #thCm {
    padding-right: 10px;
  }

  #tdBnd {
    padding-right: 10px;
  }
  #thBnd {
    padding-right: 10px;
  }
}
